DB_DSN=root:@tcp(127.0.0.1:3306)/your_db_here?parseTime=true&readTimeout=5s&writeTimeout=5s
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=secretpassword
JWT_SECRET=your_jwt_secret_key_here
GOOGLE_CLIENT_ID=YOUR_OAUTH_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_OAUTH_CLIENT_SECRET
OAUTH_REDIRECT_URL=http://localhost:8080/auth/google/callback